.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px; /* Adjust width as needed */
    height: 500px;
    gap: 1px;
}

.square {
    width: calc(100% / 16 - 3px); /* Adjust width and height to create square divs */
    height: calc(100% / 16 - 3px);
    background-color: #1a1c24;
    border: 1px solid #999;
    transition: background-color 0.3s ease;
}

.square.hovered {
    background-color: #f9ae4d;
}
