.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
.square {
    width: calc(100% / 16);
    height: calc(100% / 16);
    background-color: #ccc;
    border: 1px solid #999;
}